/* all modal styles */

.modalContainer {
	position: fixed;
	display: grid;
	place-items: center;
	top: 20%;
	left: 28%;
	padding: 1rem 0.2rem 0.2rem 1rem;
	background-color: #ffffff;
	z-index: 1000;
	border-radius: 0.5rem;
}

.overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.7);
	z-index: 1000;
}

.cancelButton {
	cursor: pointer;
	margin-left: 12rem;
	margin-top: 1rem;
	height: 1.5rem;
	width: 5rem;
}
