/* all modal styles */

.modalContainer {
	position: fixed;
	display: grid;
	place-items: center;
	top: 20%;
	left: 28%;
	padding: 1rem 1.2rem 1rem 1rem;
	z-index: 1000;
	border-radius: 0.5rem;
	background-color: #101611;
	color: white;
	border: rgb(150, 150, 150) 0.15rem solid;
}

.overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.4);
	z-index: 1000;
}

.cancelButton {
	all: unset;
	cursor: pointer;
	position: absolute;
	font-size: 1.2rem;
	padding: 0.5rem 0.6rem;
	right: 0.3rem;
	top: 0.3rem;
	color: white;
	background-color: #101611;
	border-radius: 5rem;
	transition: 0.5s;
}

.cancelButton:hover {
	background-color: rgba(211, 211, 211, 0.158);
}
