* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Verdana, sans-serif;
}

body,
html {
	overflow-x: hidden;
	background-color: #101611;
	color: whitesmoke;
	height: 100vh;
}

/* #1cf819 */

.loggedIn {
	height: 100vh;
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 2fr 7fr 2fr;
	grid-template-areas: "header main footer";
}

::-webkit-scrollbar {
	width: 0.1rem;
}

::-webkit-scrollbar-track {
	background: rgb(100, 100, 100);
	border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb {
	background: #1cf819;
	border-radius: 0.5rem;
	height: 1rem;
}
