* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Verdana, sans-serif;
}

body,
html {
	overflow-x: hidden;
	background-color: #101611;
	color: whitesmoke;
	height: 100vh;
}

/* #1cf819 */

.loggedIn {
	display: grid;
	grid-template-columns: 2fr 7fr 2fr;
}
