* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Verdana, sans-serif;
}

body {
	overflow-x: hidden;
	background-color: #1f212c;
	color: whitesmoke;
}

/* #1cf819 */

.loggedIn {
	display: grid;
	grid-template-columns: 2fr 6fr 2fr;
}
