/* all footer styles */

.footerContainer {
	grid-area: footer;
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 1rem 1rem;
	height: 100%;
}

.profileInfoIcon {
	font-size: 1.8rem;
	margin-bottom: 0.5rem;
	color: whitesmoke;
}

/* media query styles */

@media only screen and (max-width: 500px) {
	.footerContainer {
		position: absolute;
		height: auto;
		bottom: 0;
		left: 0;
	}
}
