/* all single post component styles */

.singlePostContainer {
	display: flex;
	flex-direction: column;
	padding: 0.5rem 1rem;
	border-top: 0.005rem rgb(100, 100, 100) solid;
	left: calc(100vw - 100%);
}

.singlePostContainer > div {
	padding: 0.5rem 0rem;
}

.singlePostFooter {
	display: flex;
	color: rgb(211, 211, 211);
}

.singlePostFooter > div {
	display: flex;
	padding-right: 1rem;
}

.postBody {
	font-size: 1.2rem;
}
